<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>78343FA5EFE3A80D64CAC0EFBB98CF75</string>
            <key>code2</key>
            <string>D271233231A737D0B73D7E5BB700FB3D</string>
            <key>code3</key>
            <string>488C01B3BA7CAA0B8688BF35FEF76170</string>
            <key>code4</key>
            <string>EDCCAA8484AA0FA82F6FA25EA00FDE19</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.dbankcloud.cn</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.hicloud.com</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>104915477</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>322780611176779900</string>
            <key>package_name</key>
            <string>com.collab.citizen</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>2640027000023877757</string>
            <key>product_id</key>
            <string>737518067793682514</string>
            <key>client_id</key>
            <string>753615215060339584</string>
            <key>client_secret</key>
            <string>[!00CD71722BDFA5CBCCDC3D9EC0B822026310DC9889E09184A8D78FCC09D1E14CA603B7093637E50060CF523D9D38492CECA265B608ADB46B6391745CC59FC6BCC4277E40AAC386BE98049EF2E3C9C8E6EBFBC5E2AF8968C001CE4E1CDC49F39302]</string>
            <key>project_id</key>
            <string>737518067793682514</string>
            <key>app_id</key>
            <string>322780611176779900</string>
            <key>api_key</key>
            <string>CwEAAAAAwmpb0pIvruTW+RgQpgKcXk6nqp+yyK+M1V0o6TxyRGtkUO6I9ZM/qzi12ALNEr238ob4zFmftMs+zA6BAvunhqRDJ7A=</string>
            <key>package_name</key>
            <string>com.collab.citizen</string>
        </dict>
        <key>service</key>
        <dict/>
        <key>region</key>
        <string/>
    </dict>
</plist>
