<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<!-- TODO remember to test this associated domain or see if the part /webapi/Api/ needs to be added. Should be Without the last /   -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:citizencollab.collaboratoronline.com</string>
	</array>
</dict>
</plist>
